
@{
    ViewBag.Title = "Index";
}

<h2>會員中心</h2>
<br />  

<h4><a href="/Members/EditProfile/">修改個人基本資料</a></h4>
<h4><a href="/Members/EditPassword/">修改密碼</a></h4>
<h4><a href="/Members/EditPassword/">訂單查詢</a></h4>

