@{
    ViewBag.Title = "Clothes To U";
}

<div class="container  ">
    <div class="row">
        <div class="col-md-12">
            <div class="img-box">
                <img src="~/Files/alt="">
            </div>
            <div class="col-md-12">
                <div class="detail-box">
                    <div class="heading_container" style="font-weight: bold;">
                        <h1>
                            『 Clothes To U 』
                        </h1>
                    </div>
                    <br />
                    <p>
                        <h4>
                            一個對各種身形友善的服裝品牌，

                            希望讓每一個你在收到包裹後驚呼：
                            <br />
                            <br />
                            「原來穿得好看也能這麼舒服！」不再需要為了塞進漂亮的衣服而努力節食。
                            <br />
                            <br />
                            Clothes to U 的衣服將成為妳衣櫃裡那件不用思考就能拿來搭配的日常單品!
                            <br />
                            <br />讓每個女孩都能舒適自在做最美麗的自己♥️



                        </h4>
                    </p>
                    <br />
                    <br />
                    <a href="/Home/Index">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
